<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Welcome to Psycology</h1>
    {%  if user.is_authenticated %}
        <h1>User: {{ user|title }}</h1>
        <h3><a href="{% url 'users:logout' %}">Logout</a></h3>
        <h3><a href="{% url 'users:profile' %}">Profile</a></h3>
    {% else %}
        <h3><a href="{% url 'users:login' %}">Login</a></h3>
        <h3><a href="{% url 'users:register_user' %}">SignUp</a></h3>
    {% endif %}
</body>
</html>