.full_scn{
    width: 100%;
    height: 100vh;
    position: relative;
}

.btn{
    margin-top: 20px;
}


.mt-5 button{
    width: 50%;
}

.false_nb img{
    margin-top: 15%;
    margin-left:15%;
}
.content{
    width: 49%;    
}

.text_content{
    width: 25%;
    color: white;
}

.image_content{
    width: 70%;
}

.my_container{
    margin: 150px auto;
    width: 90% !important;
    display: flex;
    justify-content: space-between;
}

.media_social{
    margin-top: 25px;
    display: flex; 
    justify-content: space-around; 
    width: 50%; 
}
/*
.image__ft{
    width: 50%;
}*/

.image__1{
    width: 15%;
    position: absolute;
    margin-top:-10%;
    margin-left:7%;
}

.image__2{
    width: 15%;
    position: absolute;
    margin-top:-10%;
    right: 15%;
}

.image__3{
    width: 15%;
    position: absolute;
    margin-top:300px;
    right: 40%;
}

.image__4{
    width: 15%;
    position: absolute;
    margin-top:150px;
    right: 20%;
}

.picture_part {
    position: absolute; /* Абсолютное позиционирование */
    top: 0;
    left: 0;
    width: 100%; /* Растягиваем на всю ширину */
    height: 100%; /* Растягиваем на всю высоту */
    z-index: -1; /* Помещаем изображение ниже других элементов */
}

.picture_part img {
    width: 100%; /* Изображение растягивается по ширине */
    height: 100%; /* Изображение растягивается по высоте */
    /*object-fit: cover; /* Сохраняет пропорции изображения, обрезая лишнюю часть */
}

.form-group-col{
    display: flex;
    justify-content: space-between;
}


.my_custom_col{
    width: 49%;
}

.modal-content{
    background-color: rgb(189, 212, 223);
}

.submit_button{
    margin: 0 auto;
    width: 100%;
}



