.full_scn{
    width: 100%;
    height: 100vh;
    position: relative;
}

.btn{
    margin-top: 20px;
}


.mt-5 button{
    width: 50%;
}

.false_nb img{
    margin-top: 15%;
    margin-left: 30%;
    width: 100px;
    height: 100px;
}

.content{
    width: 49%;
    margin-top: 0 !important;    
}

.content h1 {
    font-size: 48px;
}

.content p {
    font-size: 20px;
}

.text_content{
    width: 25%;
    color: white;
}

.image_content{
    width: 70%;
}

.my_container{
    margin: 150px auto;
    width: 90% !important;
    display: flex;
    justify-content: space-between;
}

.media_social{
    margin-top: 25px;
    display: flex; 
    justify-content: space-around; 
    width: 50%; 
}
/*
.image__ft{
    width: 50%;
}*/

.image__1{
    width: 15%;
    position: absolute;
    margin-top:-10%;
    margin-left:7%;
}

.image__2{
    width: 15%;
    position: absolute;
    margin-top:-10%;
    right: 15%;
}

.image__3{
    width: 15%;
    position: absolute;
    margin-top:300px;
    right: 40%;
}

.image__4{
    width: 15%;
    position: absolute;
    margin-top:150px;
    right: 20%;
}

.picture_part {
    position: absolute; /* Абсолютное позиционирование */
    top: 0;
    left: 0;
    width: 100%; /* Растягиваем на всю ширину */
    height: 100%; /* Растягиваем на всю высоту */
    z-index: -1; /* Помещаем изображение ниже других элементов */
}

.picture_part::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.picture_part img {
    width: 100%; /* Изображение растягивается по ширине */
    height: 100%; /* Изображение растягивается по высоте */
    /*object-fit: cover; /* Сохраняет пропорции изображения, обрезая лишнюю часть */
}

.form-group-col{
    display: flex;
    justify-content: space-between;
}


.my_custom_col{
    width: 49%;
}

.modal-content{
    background-image: url("../images/bg-form2.png") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.modal-header .close {
    padding: 1rem 0 1rem 1rem;
}

.modal-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap; /* Prevents text from wrapping */
}

.rounded-lg {
    border-radius: 16px !important;
}

.white-border {
    border: 1px solid #fff !important;
}

.submit_button{
    margin: 0 auto;
    width: 100%;
}

.white-border {
    border: 1px solid #E5E5E5 !important;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .button-blink {
    animation: blink 1.5s infinite; /* 1 second duration, repeats forever */
  }

@media (min-width: 1025px) and (max-width: 1550px) {
    .my_container {
        margin-top: 100px;
    }
    
    .content h1 {
        font-size: 36px;
    }

    .content p {
        font-size: 16px;
    }

    .content button {
        width: 60%;
    }

    .alert {
        margin-bottom: 0;
        font-size: 16px;
        padding: .5rem 1rem;
    }

    .media_social {
        margin-top: 15px;
        width: 60%;
    }
}